/*for student pages */

p.project-title{
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
  font-size: x-large;
}

div.oneline{
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  margin-top:10px;
}

div.oneline-packed{
  display: inline-block;
  margin-left: 5px;
  text-align: left;
}

div.oneline-packed >p
{
  display: inline-block;
  margin-left: 2px;
}

textarea.fill-form{
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

label.project-choice{
  margin-left:40px;
}

blockquote.comments{
  margin-right: 100px;
  margin-left:20px;
}

div.submit-btn{
  margin-top:200px;
  margin-left:100px;
  margin-right:100px;

}

label.school-display{
  width: 300px;
  font-size: 18px;
}

input.school-display{
  margin-left:0px;
  padding-left:0px;
  width:292px;
  text-align: center;
}
select.school-display{
  margin-left:0px;
  width:300px;
  margin-top:10px;
  padding-left:90px;
}
hr.school-display{
  height: 2px;
  width: 300px;
}

div.school-display{
  width:250px;
  margin-top: 10px;
  margin-left: 0px;
  font-size: 16px;
}

#grid-elements{
  display: inline;
}

#legend_id{
  text-align: center;
  float:center;
}

/*table.table tbody tr td:nth-child(4){
    width:200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}*/

div.student_file_upload{
  margin-right:15px!important;
  margin-left:0px!important;
  margin-top:10px;
  margin-bottom: 10px;
  border: solid #3a87ad 1px;
}
#form_application fieldset{
    width:900px;
}