.form-signin {
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 400px;
	padding: 0px 29px 29px;
	margin-left: 10px;
  text-align: left;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
	} 
	 
.form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 18px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 350px;
    margin-left: -120px;
  }   
.form-container{
	padding-top: 100px;
	padding-bottom: 100px;
}   

.form-resetform{
  margin-top: 40px;
} 

.form-password{
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 400px;
  padding: 0px 29px 29px;
  margin-left: 10px;
}
.form-password input[type="text"],
  .form-password input[type="password"] {
    font-size: 18px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 350px;
    margin-left: -80px;
  }  

#login{
  min-width:0;
  margin: 0px;
  color: #575757;
  font-size: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana;
  line-height: 1.5;
  padding-top: 70px;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  display: block;
  height: 700px;
}

body{
    background-color:#ededed;
}

#content{
  position: relative;
  overflow: visible;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  min-height: 430px;
  box-shadow: none;
}

div.login-image{
display: block;
background: url(../images/default_freddie.png) top left no-repeat;
position:absolute;
left: 20%;
width: 400px;
height: 420px;
margin-left: -50px;
}


h2.login{
  margin-bottom: 40px;
}

#login-form-wrap{
  position: relative;
  top: 0px;
  left: 45%;
  width: 460px;
  margin-top: 0px;
}
