body{
	background:#000;
	margin:0 auto;	
	font-size: 62.5%;
	color:#3a3524;
	font-family:Verdana, Geneva, arial,sans-serif;
}

h1 {
	font-family:arial, serif;
	font-size:2.2em;
	color:#3a3524;
	padding:20px;
	line-height:120%;
	padding-bottom:0;
	margin: 0px;
}
ul{
	list-style:none;
}
li{
	display:inline;
}
/* DIVS */
div#wrapper {
	width:960px;
	margin:0 auto;
}

div#header {
	width:960px;
	height:109px;	
}

div#links a {
	border: 1px solid #222; 
	background:#333; 
	color:#fff; 
	-moz-border-radius: 5px; 
	-webkit-border-radius:5px; 
	padding: 5px;
	color:#fff;
	text-decoration:none;
}

div.left {
	float:left;
	width:469px;	
}

div.right {
	float:right;
	width:491px;
	position:relative;
}

div#content {
	height:355px;
	background:url(../image/rightbg.jpg) top repeat-x;	
}

ul.troubleshoot li {
   margin-bottom: 2px;
   color: #232323;
   display: block;
   padding:5px 0 5px 14px;
   
   background:url(../image/bullet.gif) left no-repeat;
   font-weight:bold;
   font-size:1.4em;
}

p{
	font-size:1.3em;
	padding:0 20px 10px 20px;
	line-height:150%;
}
