body {
    font-size: 11px;
    background-color: #0e4c92;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    min-width: 800px;
}
.body {
    /* background-color: #0e4c92; */
    position: absolute;
    height: 100%;
    width: 100%;
}
p, ul, ol{
    margin: 0;
    padding: 0;
}
.home-title {
    height: 95px;
    /* text-align:center; */
    /* margin-left: auto; */
    text-align:left;
    margin-left: 150px;
    margin-right: auto;
    /* background-color: #0e4c92; */
}
.home-title p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 35px;
    font-weight: bold;
    height: 95px;
    line-height: 95px;
    padding-top: 6px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.3);
}
.home-out-wrap {
    background-color: #fff;
    position: absolute;
    height: 85%;
    min-height: 578px;
    width: 100%;
}
.home-main{
    /* border-right: 1px solid #0064b9; */
    background-color: #fff;

    /* set minimum height */
    /* height: auto !important; */
    position: absolute;
    height: 100%;
    min-width: 800px;
    width: 85%;
}
.home-aside {
    /* width: 192px; */
    width: 15%;
    min-width: 123px;
    padding-left: 0px;
    /* padding-bottom: 20px; */
    /* margin-top: 8px; */
    margin-right: 0px;
    border-right: 1px solid #0064b9;
    float: left;
    display: inline;
    height: 100%;
}
div.home-aside h6 {
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    margin: 0px 0 5px 15px;
}
div.home-aside ul li {
    line-height: 14px;

    float: left;
    width: 100%;
    position: relative;
    list-style-type: none;
}
div.home-nav {
    margin: 10px 0 20px 0;
    float: left;
    width: 100%;
    /*height: 216px;*/
}
div.home-nav ul {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.2em;
    float: left;
    width: 100%;
    /* width: 191px; /\* menu width, also set on LI below *\/ */
    /* position: absolute; quick fix for IE 6 */
    position: relative;
    z-index: 5;
}
div.home-nav ul li a {
    display: block;
    text-decoration: none;
    color: #2252a6;
    padding: 5px 0px 6px 15px;
    /* column color */
    /* background-color: #fff; */
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 1%;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
div.home-nav ul li a:hover {
    border-top: 1px solid #0064b9;
    border-bottom: 1px solid #0064b9;
    background-color: #fbf9d6;
}
div.home-link {
    float: left;
    width: 100%;
}
div.home-link ul {
    line-height: 1.3em;
    width: 100%;
}
div.home-link ul li a {
    padding: 4px 15px 4px 15px;
    display: block;
    zoom: 1;
    color: #585858;
    text-decoration: none;
    font-size: 11px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
div.home-link ul li a:hover {
    color: #2a85ee;
}

.home-content {
    float: left;
    /* width: 1010px; */
    width: 84%;
    min-width: 675px;
    height: 100%;
    /* border-left: 1px solid #0064b9; */
    border-right: 1px solid #0064b9;
}
/* customiz carousel */
.carousel {
    height: 60%;
}
.carousel-inner {
    height: 100%;
}
.front-wrap {
    height: 40%;
    overflow: hidden;
}
.home-news {
    margin: 0;
    width: 47%;
    float: left;
    height: 100%;
    padding: 0 1.5%;
    display: inline;
}

hr {
    margin: 5px;
}
.home-news h3 {
    font-size: 16px;
    line-height: 0px;
    font-weight: bold;
    color: #5480b0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 12px;
}
table.news {
    width: 100%;
    height: 60%;
    display: block;
    overflow: hidden;
}
table.documents {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}
div.documents-list {
    height: 60%;
    overflowï¼š hidden;
}
table.documents td {
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.news-body {
    height: 100%;
    overflow: hidden;
}
.news-list {
    margin: 0;
    width: 45%;
    float: left;
    height: 100%;
    border-right: 1px solid #0064b9;
    padding: 0 15px;
    display: inline;
}
.news-documents {
    height: 75% !important;
}
.search {
    float: right;
    margin: 5px 0;
}
.search-input {
    width: 120px;
    border: 1px solid #ccc !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-bottom: 0 !important;
    height: 15px !important;
}
.news-main {
    margin: 0;
    width: 85%;
    float: left;
    height: 100%;
    border-right: 1px solid #0064b9;
    padding: 0 0 0 15px;
    display: inline;
    position: absolute;
}
.news-main > div {
    height: 100%;
    position: absolute;
}
.news-main > div > a{
    /* bottom: 0; */
    /* position: absolute; */
}
.news-content {
    /* height: auto; */
    height: 80%;
    min-height: 440px;
}
.news-content > div {
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
}
#news-list {
    height: 100%;
}
#docs-list {
    height: 100%;
}

/* table css: for newslist page only */
#subject_table thead>tr th:nth-child(5)
{
    display: none;
}
#subject_table tbody tr td:nth-child(5)
{
    display: none;
}
/* .news-content div p { */
/*     height: 100%; */
/*     overflow-y: auto; */
/*     padding: 0 10px; */
/* } */
