body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
#nav-container {
    padding-top: 50px;
}
.container {
    margin: 0 auto;
    max-width: 1050px;
}
.container > hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar {
    margin-top: 20px;
}
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.home_menu {
    display: none;
}

.news_frame {
    margin-top: 20px;
    height: 300px;
}

#show-pictures{
    height: 300px;   
}

.front-wrap {
    height: 290px;
    overflow: hidden;
    padding: 0 15px;
    color: #333;
    /* border: 1px solid #eaeaea; */
    border: 0px solid #eaeaea;
}

.home-news {
    margin: 0;
    float: left;
    height: 90%%;
    width: 100%;
    padding: 0 1.5%;
    display: inline;
}
.width-table{
    width: 100%;
    display: table;
}
.home-news-important{
    margin: 0;
    float: left;
    height: 100%;
    width: 100%;
    padding: 0 1.5%;
    display: inline;

}

.home-news h3 {
    font-size: 16px;
    line-height: 0px;
    font-weight: bold;
    color: #5480b0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 12px;
}

table.news {
    width: 100%;
    height: 200px;
    display: block;
    overflow: hidden;
}
table.documents {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}
div.documents-list {
    height: 100%;
    overflow: hidden;
}
table.documents td {
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.news-body {
    height: 100%;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}
.news-content-nav {
    background-color: transparent;
    width: 1060px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}
.news-content-nav .nav {
    margin-bottom: 0px !important;
}
.news-content-nav .nav li {
    line-height: 16px;
}
.news-content-nav .nav li a {
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    color: #fff !important;
    padding-left:20px;
    padding-right:20px;
    border-top: 0px solid transparent !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-radius: 0px;
}
.news-content-nav .nav li a:hover,
.news-content-nav .nav li a:focus,
.news-content-nav .nav li a:active,
.news-content-nav .nav li.active a {
    background-color: rgb(31, 60, 92) !important;
    border-bottom: 3px solid rgb(245, 81, 84);
}
.news-list {
    margin: 0;
    float: left;
    height: 100%;
    width: 95%;
/* border-right: 1px solid #0064b9; */
}
input[type="text"], input[type="button"] {
    border-radius: 0px;
}
.search-input:hover,
.search-input:focus,
.search-input:active {
    color: rgb(72, 65, 231);
    text-shadow: none;
    border-color: rgb(72, 65, 231) !important;
}
.search form {
    margin-top: 5px;
}
#search-news {
    height: 30px;
    vertical-align:top;
    background: transparent;
    border: 1px solid rgb(72, 65, 231);
    color: rgb(72, 65, 231);
}
#search-news:hover,
#search-news:focus,
#search-news:active {
    color: #eee;
    text-shadow: none;
    background-color: rgb(72, 65, 231);
    border-color: rgb(72, 65, 231);
}
.usoft-listview-header
{
    /* background: url(../images/bg0.png) 0px 0px no-repeat;  */
    margin: 0px;
    line-height: 35px;
    height: 35px;
}
.usoft-listview-header div {
    padding-left: 10px;
    margin-left:-15px;
    background-color:rgb(245,79,81);
    height: 35px;
    width: 250px;
}
.usoft-listview-header small {
    color: white;
}
.usoft-listview-item-date
{
    color: #999999;
    font-weight: normal;
    font-size: 12px;
    float: right;
    text-align: right;
    padding-right: 0px;
}

.usoft-listview-basic
{
    margin: 0px;
    line-height: 2em;
}
.usoft-listview-basic a {
    color: rgb(72,63,210);
}
.usoft-listview-basic li {
    list-style-type: none;
}
.usoft-listview-basic ul,
.usoft-listview-basic ol {
    margin-left: 5px;
}
.front-wrap ul
{
    /* list-style: url(../images/arrow.gif); */
    list-style-type: none;
    margin-left: 5px;
}

.usoft-listview-header h3 {
    float: left;
    color: white;
}

.usoft-listview-more a {
    float: right;
    color: #999999;
    font-weight: normal;
    font-size: 13px;
    margin: 0px 15px 0px 0px;
    text-align: right;
}

.news-list-important {
    margin: 0;
    height: 100%;
    padding: 0 15px;
}
.news-documents {
    padding-top: 15px;
    height: 100% !important;
}
.news-body .news-documents {
    padding-top: 0px;
}
.news-documents table {
}
.news-documents a {
    color: rgb(72, 65, 231);
}

#photocontainer{
    width: 1050px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 15px;
    background: white;
}

/*photobanner*/

.photobanner {
    height: 80px;
    width: 3280px;
}

.photobanner img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.usoft-container-section ul
{
    list-style: url(../images/arrow.gif);
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-webkit-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-ms-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-o-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

