.btn-home{
    width:200px;
}
div.home{
    margin-bottom: 300px;
    margin-top: 50px;
}
input.studentchange{
    margin-top: 0px;
    margin-right: 0px;
}

select.studentchange{
    width: 300px;
    padding-left:50px;
    margin-left: 0px;
}

div.memberchange{
    margin-left:30px; 
}

input.studentdisplay{
  margin-left:0px;
  padding-left:0px;
  width:292px;
  text-align: center;
}
div.processrecord{
  width : 620px;
}