/*********************************************************/
span.num{
	background-color: #f00;
	background-image: -webkit-linear-gradient(top, #f00, #600); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #f00, #600); /* FF3.6+ */
	background-image:     -ms-linear-gradient(top, #f00, #600); /* IE10 */
	background-image:      -o-linear-gradient(top, #f00, #600); /* Opera 11.10+ */	
	color:#fff;
	font-family:Verdana;
	font-weight:normal;
	padding:2px 5px;
	border:3px solid #fff;
	border-radius:15px;
	position:absolute;
	margin-top:-20px;
	margin-left:-10px;
	box-shadow: 0 2px 3px 0px rgba(0,0,0,1);
	text-shadow: -1px -1px 0 #000;
}
/*********************************************************/
